.drop {
	background: none !important;
}

.content {
	border-top: 1px #616363 solid;
	margin-top: 25px;
	padding-top: 25px;
	overflow: hidden;
}

.info {
	background: #55A495;
	color: #FFF;
	float: left;
	padding: 10px 2% 40px;
	width: 26%;
}

	.info h4, form h4 {
		color: #29746A;
		font-family: "Futura W01 Bold";
		letter-spacing: 2px;
		text-transform: uppercase;
	}
		.info h5 {
			margin: 15px 0 5px 0;
			text-transform: lowercase;
		}
		
		.info h6, .info a {
			color: #C4E1DE;
			font-size: 12px;
			margin: 0;
		}
		
form {
	background: #F2F3F4;
	float: right;
	font-family: "Courier";
	padding: 10px 20px 30px;
	width: 60%;
}
	form h4 {
		background: #E7B44C;
		color: #FFF;
		padding: 20px;
		margin: -10px -20px;
	}

	form p {
		clear: both;
		margin-top: 20px;
	}

		form p label {
			float: left;
			font-size: 0.9em;
			margin-top: 10px;
			width: 22%; height: 30px;
		}
		
		form p input {
			background: none;
			border: none;
			border-bottom: 1px #616363 solid;
			font-size: 1.3em;
			outline: none;
			width: 77%; height: 30px;
		}
		
		form p textarea {
			background: #DDD;
			border: none;
			outline: none;
			margin-top: 10px;
			padding: 2%;
			width: 73%; height: 60px;
		}
		
		form .dots {
			background: url(../../images/index/form-dots.png) repeat-x left center;
			margin: 30px 0 0 0;
			padding-bottom: 0;
			text-align: right;
			width: 99%;
		}
		
			form input.submit {
				background: #E7B44C;
				border: none;
				border-left: 15px #F2F3F4 solid;
				color: #FFF;
				font: normal 0.8em "SackersGothicW01-Medium";
				letter-spacing: 2px;
				padding: 4px 60px 6px;
			}
				form input.submit:hover {
					background: #F5CD82;
				}

/* Mobile Size */
@media only screen and (min-width: 320px) and (max-width : 730px) {
	.content {
		margin: 20px -25px 40px;
		padding: 0;
	}

	.info {
		float: none;

		padding: 1px 20px 25px;
		width: 100%;
	}
	
	form {
		float: none;
		width: 100%;
	}
	
		form h4 {
			font-size: 0.7em;
			margin-bottom: 30px;
		}
	
		form p label {
			display: block;
			float: none;
			font-size: 0.7em;
			width: 100%;
		}
		
		form p input, form p textarea {
			width: 85%;
		}
		
		form .dots {
			padding: 0 0 0 15px;
			width: 85%;
		}
	
}
	
/* Tablet Size */
@media only screen and (min-width: 730px) and (max-width: 1024px)  {
	#products .product > a h3 {
		font-size: 0.6em;
		letter-spacing: 1px;
	}
	
	form p label {
		font-size: 0.6em;
	}
}