﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="layout" content="application">


    <title>Zooom Deals</title>

</head>

<body class="metrouicss">
<div class="page">
    <g:render template="/templates/header"/>



    <div class="page-region">

        <div class="page-region-content">

        </div>

    </div>

</div>
</body>
</html>