<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="public">
    <title>ZoomDeals | DashBord</title>
</head>

<body>
<p class="text-center">Welcome <sec:username/></p>

%{--Hello ${user}--}%

</body>
</html>