/************************
Designed by : http://responsivewebinc.com
************************/
/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* Basic CSS starts */

body{
   font-family: 'Open Sans', sans-serif;
   color:#444;
   font-size:13px;
   line-height:25px;
	-webkit-font-smoothing: antialiased;
   background:#fafafa url('../img/main-back.png') repeat;
}

h1,h2,h3,h4{
   font-family: 'Open Sans Condensed', sans-serif;
}

h5,h6{
   font-family: 'Open Sans', sans-serif;
}

p{
	margin:0;
	padding:0;
}

ul, ol{
   padding-left:15px;
}

a{
   color:#16cbe6;
   text-decoration:none;
}

a:hover{
   color:#0fa6bc;
   text-decoration:none;
   border-bottom:1px dotted #0fa6bc;
}

a:hover,a:active,a:focus {
	outline: 0;
}

hr{

}

strong{
   font-family: 'Open Sans', sans-serif !important;
   font-weight:600;
}  

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

.form *{
   font-size:13px;
}

#myTab li.active a{
   color:#fff !important;
   background:#16cbe6 !important;
   border-color:#16cbe6 !important;
}

/* Basic CSS ends */

.container{ max-width:1050px; }
.color{ color:#16cbe6; }
.sep-bor{
   border-top:1px dashed #ccc;
   border-bottom:1px dashed #ccc;
   margin:20px 0px;
   height:5px;
}

.sep{
	height: 5px;
   margin:20px 0px;
	background: url("../img/sep.png") repeat;
}

.blocky{
   margin:30px 0px;
}

.page-title{
   margin:10px 0px;
}

.page-title i{
   font-size:30px;
   margin-right:5px;
}

.page-title h2{
   font-size:35px;
}

.page-title small{
   font-size:21px;
   margin-left:5px;
}

.section-title h4{
   margin:0px;
   padding:0px;
   font-family:"Open Sans", sans-serif;
   font-size:22px;
   margin-bottom:5px;
   color:#777;
   padding-bottom:10px;
   border-bottom:1px solid #eee;
}

.btn-blue{
   color:#fff !important;
   background:#16cbe6;
   border:1px solid #0fa6bc;
   border-bottom:2px solid #0fa6bc;
   font-size:13px;
}

.btn-blue:hover{
   color:#fff !important;
   background:#14b9d1;
   border:1px solid #0fa6bc;
   border-bottom:2px solid #0fa6bc;
   font-size:13px;
}

.social{
   margin:10px 0px;
}

.social a i{
   display:inline-block;
   width:40px;
   height:40px;
   font-size:17px !important;
   line-height:40px;
   text-decoration:none;
   text-align:center;
   color:#fff;
   -webkit-transition: background 2s ease;
   -moz-transition: background 2s ease;
   -o-transition: background 2s ease;
   -ms-transition: background 2s ease;
   transition: background 2s ease;
   border-radius:100px;
   margin-right:5px;
}
.social a.facebook i{
	background:#1e78ae;
}

.social a.twitter i{
	background:#1ba1e2;
}

.social a.google-plus i{
	background:#f22d0c;
}

.social a.pinterest i{
	background:#dd1617;
}

.social a.linkedin i{
	background:#2d93cf;
}

.social a:hover i{
   background:#000;
   -webkit-transition: background 2s ease;
   -moz-transition: background 2s ease;
   -o-transition: background 2s ease;
   -ms-transition: background 2s ease;
   transition: background 2s ease;
}

.social a, .social a:hover{
   border:0px;
   text-decoration:none;
}

.input-group .btn{
   margin-top:0px !important;
} 


/* Cool block */

.cool-block{
   background:#fff;
   border:1px solid #bbb;
   box-shadow:0px 0px 1px #999;
   border-radius:3px;
}

.cool-block-bor{
   margin:3px;
   border:1px dashed #aaa;
   box-shadow:0px 0px 1px #999;
   border-radius:3px;
   padding:15px;
}

/* Header carousel */

.carousel{
   top:-3px;
}

.carousel-inner{
   background:#222;
}

.carousel .item{
    animation-duration:3s;
    animation-delay:0.5s;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-duration: 3s;
    -moz-animation-delay: 0.5s;
    -ms-animation-duration: 3s;
    -ms-animation-delay: 0.5s;
    -o-animation-duration: 3s;    
    -o-animation-delay: 0.5s;    
}

.carousel .carousel-caption h2{
    animation-duration:2s;
    animation-delay:1s;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 1s;
    -ms-animation-duration: 2s;
    -ms-animation-delay: 1s;
    -o-animation-duration: 2s;    
    -o-animation-delay: 1s;    
}

.carousel .carousel-caption p{
    animation-duration:2s;
    animation-delay:1s;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 1s;
    -ms-animation-duration: 2s;
    -ms-animation-delay: 1s;
    -o-animation-duration: 2s;    
    -o-animation-delay: 1s;      
}

.carousel .carousel-caption a{
    animation-duration:2s;
    animation-delay:1s;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 1s;
    -ms-animation-duration: 2s;
    -ms-animation-delay: 1s;
    -o-animation-duration: 2s;    
    -o-animation-delay: 1s;    
}

.carousel .carousel-control span{
   display:inline-block;
   background:#222;
   border-radius:50px;
   height:50px;
   width:50px;
   line-height:45px;
   text-align:center;
}

.carousel .carousel-caption{
   bottom:90px;
   text-shadow:2px 2px 2px #000;
}

.carousel .carousel-caption h2{
   font-size:60px;
   text-transform:capitalize;
   font-family: 'Open Sans Condensed', sans-serif;
   font-weight:normal;
}

.carousel .carousel-caption p{
   font-size:25px;
   line-height:35px;
   font-family: 'Open Sans Condensed', sans-serif;
}

.carousel .carousel-caption a.btn{
   margin-top:20px;
   border-radius:0px;
   font-size:14px;
   font-weight:bold;
   text-transform:uppercase;
   border-bottom:2px solid #0fa6bc;
}

.carousel-indicators .active{
   background:#16cbe6;
   border:1px solid #0fa6bc;
}

.carousel-indicators li:hover{
   background:#16cbe6;
   border:1px solid #0fa6bc;
}

/* SETTINGS FOR BANNER CONTAINERS */

.tp-banner-container{
	margin-bottom: 30px;
	width:100%;
	position:relative;
	padding:0;
	background: #f9f9f9;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.tp-banner{
	width:100%;
	position:relative;
	overflow: hidden;
}

.tp-banner ul{
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.tp-banner .white { color: #fff; text-shadow: 1px 1px 1px #454545; }

.tp-banner .largepinkbg {
	background:none;
	width:510px; padding:2px; margin:0px;
}


.tp-banner .largepinkbg h1{
	font-family: 'Open Sans', sans-serif;
	font-size:50px; text-align:center; color:#0fa6bc; 
}


.tp-banner .mediumwhitebg{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	padding-top:10px;
	line-height:20px;
	color:#666;
}	

.tp-banner .img-tag {
	width: 40px;
	height: 40px;
	line-height: 40px !important;
	text-align: center;
	font-size: 13px !important;
	color: #fff;
	background: #d2322d;
	border-radius: 100px;
	font-weight:bold;
}
.tp-banner .large_bold_white { 
	font-family: 'Open Sans', sans-serif; 
	font-size:55px; 
	text-shadow:0px 0px 3px #555; 
}

.tp-banner .medium_light_white { font-size: 18px; line-height:28px; text-shadow:0px 0px 2px #111; }

.tp-banner a.btn { 
	border:0px; 
	padding: 10px 15px 13px 15px; 
	color: #fff; 
	border-radius:2px; 
	font-weight:bold; 
	box-shadow:inset 0px -3px 0px rgba(0,0,0,0.3);
	font-size:14px;
}

/* Pagination */
.pagination>li>a { color: #16cbe6; }
.pagination>li>a:hover, .pagination>li>span:hover,
.pagination>li>a:focus, .pagination>li>span:focus {
	background: #16cbe6;
	color: #fff;
	border-color: #16cbe6;
}
.pagination>.active>a, .pagination>.active>span, 
.pagination>.active>a:hover, .pagination>.active>span:hover, 
.pagination>.active>a:focus, .pagination>.active>span:focus {
	background: #16cbe6;
	border-color: #16cbe6;
}

/* Logo & Navigation */

.header{
   height:70px;
   background:#16cbe6;
   border-top:4px solid #0fa6bc;
   border-bottom:1px solid #0fa6bc;
}

.header .logo h1{
   margin:0px;
   padding: 9px 0;
}

.header .logo h1 a{
   color:#fff;
   font-family: 'Open Sans Condensed', sans-serif;
}

.header .logo h1 a:hover{
   color:#fff;
   text-decoration:none;
   border:0px;
}

/* Navigation */ 
	
.navi {
   text-align:right;
   padding-top:15px;
	padding-bottom:15px;
}

.mattblackmenu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-bottom: none;
	overflow: hidden;
	background: transparent;
}

.mattblackmenu li a{
	float: none;
	display: inline-block;
	text-decoration: none;
	margin: 0px;
	padding: 10px 10px;
	border:0px;
	color:#fff;
	font-weight:normal;
	background:transparent;
   font-size:14px;
   font-family: 'Open Sans', sans-serif !important;
   font-weight:600;
}

.mattblackmenu li a:hover{
	background:transparent;
}

.mattblackmenu a.selected {
	background: transparent;
}

.ddsubmenustyle{	
   border:0px;
   box-shadow:0px 0px 3px rgba(0,0,0,0.2);
}
	
.ddsubmenustyle ul {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	list-style-type: none;	
}


.ddsubmenustyle li a {
	display: block;
	width: 150px;
   font-family: 'Open Sans', sans-serif !important;
	color: #555;
   font-size:13px;
	text-decoration: none;
	padding: 10px 10px;
	background:#fff !important;
   border-bottom:1px solid #dfdfdf;
}

.ddsubmenustyle li a:hover {
	color: #fff;
	background: #0fa6bc !important;
}

/* SELECT MENU */

.navis select{
	display:none;
}

.navis select, .sub-navis select {
	display:none;
}

/* Kart links */

.kart-links{
   text-align:center;
   margin-top:20px;
}

.kart-links a{
   font-size:13px;
   color:#fff;
   font-weight:bold;
   margin:0px 1px;
   display:inline-block;
   padding:2px 7px;
   border-radius:5px;
   background:#0fa6bc;
}

.kart-links a:hover{
   border:0px;
}

.modal h4{
   font-family:"Open Sans", sans-serif;
   font-weight:bold;
   color:#777;
   font-size:16px;
}

/* Hero */

.hero{
   text-align:center;
   margin:15px 0px;
}

.hero h3{
   font-size:50px;
}

.hero p{
   max-width:800px;
   margin:20px auto !important;
   padding:15px;
   font-size:17px;
   line-height:28px;
   font-weight:400;
   font-style:italic;
   color:#999;
   background:#f8f8f8;
   border-top:3px solid #eee;
   border-bottom:3px solid #eee;
}

.hero .btn{
   text-shadow:0px 1px 1px #333;
   font-size:13px;
   font-weight:bold !important;
   text-transform:uppercase;
   border-radius:4px;
   padding:12px 18px;
   border-radius:3px;
   font-weight:600;
}  

.hero .btn-info{
   border-bottom:3px solid #0fa6bc;
}

.hero .btn-danger{
   border-bottom:3px solid #c8403c;
}

/* Service */

.home-service h5{
   font-size:15px;
   font-weight:600;
   line-height:25px;
   margin:0px;
   padding:0px;
   font-family: 'Open Sans', sans-serif;
}  

.home-service p{
   font-size:13px;
   line-height:24px;
}

.home-service hr{
   margin:6px 0px;
}

.home-service .service-check{
   color:#777;
   margin:8px 0px;
   font-style:italic;
}

.home-service .service-item{
   padding:5px 0px 10px 0px;
   margin:5px 0px;
   border-bottom:1px dashed #eee;
}

.home-service .service-item i{
   margin-right:5px;
}

.home-service .service-testi{
   background:#fff;
   border:1px solid #bbb;
   box-shadow:0px 0px 1px #999;
   border-radius:3px;
}

.home-service .service-testi-bor{
   margin:3px;
   border:1px dashed #aaa;
   box-shadow:0px 0px 1px #999;
   border-radius:3px;
   padding:15px;
}

.home-service .service-testi img{
   margin-left:10px;
   margin-top:5px;
   box-shadow:0px 0px 2px #444;
}

.home-service .service-testi p{
   font-size:13px;
   font-weight:600;
   font-style:italic;
   color:#777;
}

.home-service .service-testi .service-testi-author{
   font-weight:400;
   font-style:normal;
}

/* CTA */

.cta{
   margin:10px 0px;
   background:#fff;
   border-radius:5px;
   box-shadow:0px 0px 2px #ccc;
   border:1px solid #ddd;
   padding:25px 35px;
}

.cta h5{
   font-family: 'Open Sans', sans-serif;
   font-size:22px;
   font-weight:400;
   line-height:44px;
   margin:0px;
   padding:0px;
   color:#888;
   text-transform:capitalize;
}

.cta h5 i{
   display:inline-block;
   color:#fff;
   width:35px;
   height:35px;
   text-align:center;
   line-height:35px;
   border-radius:100px;
   background:#16cbe6;
   font-size:25px;
   margin-right:5px;
}

.cta p{
   margin-top:10px;
   font-size:13px;
   color:#777;
   font-style:italic;
   font-weight:bold;
}

.cta .btn{
   text-shadow:0px 1px 1px #333;
   font-size:13px;
   font-weight:bold !important;
   text-transform:uppercase;
   padding:12px 20px;
   border-radius:4px;
}

.cta .btn-info{
   border-bottom:3px solid #39a0bf !important;
}

.cta .btn-danger{
   border-bottom:3px solid #b32722 !important;
}

/* Catchy */

.catchy{
   margin:20px 0px;
   background:#fff;
   border-top:1px solid #bbb;
   border-bottom:1px solid #bbb;
   box-shadow:0px 0px 2px #ccc;
}

.catchy .catchy-inner1{
   margin:3px 0px;
   border-top:1px dashed #bbb;
   border-bottom:1px dashed #bbb;   
}

.catchy .catchy-inner2{
   padding:25px 0px;
   color:#fff;
   margin:3px 0px;
   background:#333 url('../img/bit-tile-blue.gif') repeat center center;
   border-top:1px solid #999;
   border-bottom:1px solid #999;   
}

.catchy .catchy-subscribe h3{
   font-size:40px;
   line-height:65px;
   margin:0px;
   padding:0px;
   font-family:"Open Sans", sans-serif;
   text-shadow:1px 1px 2px #444;
   text-transform:uppercase;
}

.catchy .catchy-subscribe p{
   font-size:17px;
   line-height:25px;
   text-shadow:1px 1px 2px #222;
}

.catchy .catchy-subscribe form *{
   font-size:14px !important;
}

.catchy .catchy-subscribe input[type="text"]{
   border:1px solid #1d7faf !important;
   padding:5px 15px;
   height:40px;
   box-shadow: 0 2px 0 0 rgba(255,255,255,0.3) inset,0 1px 1px rgba(255,255,255,0.7);
   font-style:italic;
}

.catchy .catchy-subscribe button{
   padding:10px 20px;
   box-shadow: 0 2px 0 0 rgba(255,255,255,0.3) inset,0 2px 3px rgba(0,0,0,0.3);
   font-weight:bold;
   font-size:13px !important;
   text-transform:uppercase;
   text-shadow:0px 1px 1px #000;
}

.catchy .report{
   background:#fff;
   border:1px solid #229bd5;
   box-shadow:0px 0px 1px #1e78a4;
   border-radius:4px;
   color:#bbb;
   font-size:16px;
   font-weight:bold;
}

.catchy .report-bor{
   margin:3px;
   border:1px dashed #aaa;
   box-shadow:0px 0px 1px #999;
   border-radius:3px;
   padding:15px;
}

.catchy .report .report-data{
   margin:10px 0px;
}

.catchy .report .report-icon{
   text-align:center;
   font-size:43px;
}

.catchy .report .report-icon i{
   color:#989898;
}

.catchy .report .report-big{
   font-size:28px;
   font-weight:normal;
}

.catchy .report span{
   display:block;
}

/* Carousel for Recent posts */

.recent-posts{
	padding: 0px;
}

.recent-posts .carousel .carousel-inner{
	padding: 0px;
	background:transparent;
}

.recent-posts .carousel .c-control{
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 100;
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	text-align: center;
	background: #16cbe6;
	border: 0;
	color: #fff;
	border-radius:3px;
}

.recent-posts .carousel .c-control.left{
	right: 30px;
}

.recent-posts .carousel .c-control.right{
	right: 0px;
}

/* Slider items */

.recent-posts .s-item {	
	max-width:250px;
	background: #fff;
	margin:0 auto;
	margin-top: 40px;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
	border: 1px solid #eee;
	border-right:3px solid #eee;
	border-bottom:3px solid #eee;
	border-radius: 6 px;
}

.recent-posts .s-item img{
	max-height:150px;
	margin:10px auto;
}

.recent-posts .s-item .s-caption{
	margin-top: 0px;
	padding: 5px;
}

.recent-posts .s-item .s-caption h4{
	font-size: 16px;
	line-height: 26px;
	color: #858585;
	margin:5px 0px;
	padding:0px;
	font-family:"Open Sans", sans-serif;
	font-weight:bold;
}

.recent-posts .s-item .s-caption h4 a{
	color:#858585;
	text-decoration:none !important;
	border-bottom:0px;
}

.recent-posts .s-item .s-caption p{
	font-size: 13px;
	line-height: 20px;
	color: #9e9e9e;
}


/* Sidebar */

.sidey{
   margin-bottom:30px;
}

.sidey .nav, .sidey .nav ul, .sidey .nav li {
	list-style: none;
}

.sidey .nav ul {
	padding: 0;
	margin: 0 0 0 0;
}

.sidey .nav {
	padding: 0px;
	margin: 0px;
   border-top:1px solid #0fa6bc;
}

.sidey .nav > li {
	margin: 0;
}

.sidey .nav > li li {
	margin: 0;
}

.sidey .nav > li li a{
   padding-left:25px;
}

.sidey .nav > li > a {
	font-size: 14px;
	line-height: 20px;
	padding: 12px 15px;
	color: #fff;
   background:#16cbe6;
	display: block;
	text-decoration: none;
   border:1px solid #0fa6bc;
   border-top:0px;
   font-weight:bold;
}

.sidey .nav > li > ul > li > a {
	font-size: 13px;
	line-height: 20px;
	padding: 10px 10px 10px 25px;
	color: #666;
   background:#fff;
	display: block;
	text-decoration: none;
   border:1px solid #ddd;
   border-top:0px;
}

.sidey .nav a:hover, .sidey .nav li.active > a {
	background: #0fa6bc;
	color: #fff;
   border-bottom:1px solid #0fa6bc;
}

.sidey .nav > li.active > a  {
	background: #444;
}

.sidey .nav a .caret {
	float: right;
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #fff;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
   margin-top: 8px;
	margin-left: 2px;
}

.sidey .nav a:hover .caret {
	border-top-color: #fff;
}

.sidey .nav li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #fff !important;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.sidey .nav li.open > a:hover > .caret {
	border-bottom-color: #fff;
}

/* Ecommerce account */

.account-content h3{
   font-size:16px;
   font-weight:bold;
   margin:0px;
   margin-bottom:10px;
   padding-bottom:10px;
   border-bottom:1px solid #eee;
   font-family:"Open Sans", sans-serif;
}

.account-content h4{
   font-size:15px;
   font-weight:bold;
   margin:0px;
   margin-bottom:15px;
   padding-bottom:10px;
   border-bottom:1px solid #eee;
   font-family:"Open Sans", sans-serif;
}

.account-content address{
   font-size:14px;
   line-height:25px;
}

/* Featured items */

.sidebar-items h5{
   font-weight:bold;
   margin-bottom:12px;
   padding-bottom:12px;
   border-bottom:1px dotted #eee;
}

.sidebar-items img{
   max-width:40px;
}

.sidebar-items .sitem{
   border-bottom:1px solid #eee;
   margin-bottom:10px;
   padding-bottom:10px;
}

.onethree-left{
	float: left;
	width: 23%;
}

.onethree-right{
	float: right;
	width: 76%;
}

/* Single item */

.single-item .input-group{
   max-width:100px;
}

.single-item h4{
   font-weight:bold;
   font-family:"Open Sans", sans-serif;
   font-size:16px;
   border-bottom:1px solid #eee;
   padding-bottom:8px;
   margin-bottom:8px;
}

.single-item .item-image img{
   width:auto !important;
   height:auto !important;
   max-height:250px !important;
   margin-top:20px !important;
}

.item-review .rmeta{
   font-style:italic;
   color:#888;
}

/* Items */


.shop-items{
	margin: 20px 0px;
}

.shop-items .breadcrumb{
   background:none;
   padding:0px;
   margin:0px;
   font-weight:bold;
   padding-bottom:7px;
   border-bottom:1px dashed #eee;
}

.shop-items .item{
   position:relative;
	max-height: 320px;
	max-width: 250px;
	margin: 10px auto;
	padding: 20px 10px 10px 10px;
   background:#fff;
   border:1px solid #f2f2f2;
	border-right: 2px solid #eee;
   border-bottom:2px solid #eee;
   border-radius:7px;
}

.shop-items hr{
	margin: 5px 0px;
}

.shop-items .item-icon{
   position:absolute;
   top:5px;
   left:7px;
}

.shop-items .item-icon span{
   width:35px;
   height:20px;
   background:#16cbe6;
   display:inline-block;
   color:#fff;
   text-align:center;
   font-size:10px;
   font-weight:bold;
   line-height:18px;
   border-radius:5px;
}

.shop-items .item-image{
	max-height: 150px;
}

.shop-items .item-image img{
	padding: 5px 0px;
	height: 140px;
	width: auto;
	display: block;
	margin: 0 auto;
}

.shop-items .item-details h5{
	text-align: center;
   font-weight:bold;
   font-size:16px;
   line-height:25px;
}

.shop-items .item-details h5 a{
	color: #777;
}

.shop-items .item-details h5 a:hover{
   color:#555;
   border:0px;
}

.shop-items .item-details h5 a:hover{
	text-decoration: none;
}

.shop-items .item-details p{
	text-align: center;
   margin-bottom:10px;
   color:#888;
   font-size:13px;
   line-height:20px;
}

.shop-items .item-price{
	margin: 7px 5px;
	display: inline-block;
	border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
   background:#16cbe6;
   color:#fff;
   width:40px;
   text-align:center;
}

.shop-items .btn{
   margin-top:5px;
}



/* Main */

.mainy{
	position: relative;
	margin-left: 240px;
	margin-right: 0px;
	width: auto;
	min-height: 700px;
}

.mainy .container{
	width: 100%;
	padding: 0px !important
} 

/* Clients */

.clients .client{
   width:155px;
   height:65px;
   margin:10px auto;
   background:#fff;
   text-align:center;
   border:1px solid #eee;
   border-radius:4px;
   padding:10px;
   box-shadow:inset 0px 0px 3px #eee;
}

/* Error block (404) */

.error-block h2{
   font-size:80px;
   line-height:100px;
   color:#666;
}

.error-block .error-para{
   font-size:17px;
   color:#888;
   line-height:28px;
}

.link-list h5{
   font-size:16px;
   line-height:26px;
}

.link-list{
   margin:30px 0px;
   font-size:16px;
}

.link-list a{
   margin-right:10px;
}

/* About us */

.about-us h4{
   margin:0px;
   font-family:"Open Sans", sans-serif;
   font-size:16px;
   line-height:35px;
   font-weight:bold;
   margin-bottom:5px;
   padding-bottom:5px;
   border-bottom:1px dashed #ccc;
}

.about-us ul{
   padding-left:15px;
}

.about-us .about-team .staff{
   max-width:220px;
}

.about-us .about-team h3{
   font-size:22px;
   font-family:"Open Sans", sans-serif;
}

.about-us .about-team h3 i{
   font-size:17px;
}

.about-us .about-team  .pic img{
	margin-bottom: 16px;
}

.about-us .about-team  .details{
   margin-top:10px;
   margin-bottom:20px;
}

.about-us .about-team .details .name{
   line-height:15px;
   padding:0px;
   margin:0px;
   font-size:14px;
   font-weight:bold;
}

.about-us .about-team  .details em{
   color:#888;
   font-size: 13px;
   line-height: 20px;
}

.about-us .about-team .asocial i{
   text-align:center;
   font-size: 14px;
   text-align: center;
   width: 25px;
   height: 25px;
   line-height:25px;
   background:#16cbe6;
   display:inline-block;
}

.about-us .about-team  .asocial a, .about-us .about-team  .asocial a:visited, .about-us .about-team  .asocial a:hover{
   text-decoration:none;
   border:0px;
   color:#fff;
}

.about-us .about-team  .details .adesc{
   max-width:300px;
   margin:0 auto;
   border-top:1px solid #eee;
   margin-top:5px;
   padding-top: 5px;
}

.about-us .form form { padding-top: 8px; }

.testimonials .testi{
   background:#fff;
   border:1px solid #bbb;
   box-shadow:0px 0px 1px #999;
   border-radius:3px;
}

.testimonials  .testi-bor{
   margin:3px;
   border:1px dashed #aaa;
   box-shadow:0px 0px 1px #999;
   border-radius:3px;
   padding:15px;
}

.testimonials  .testi img{
   margin-left:10px;
   margin-top:5px;
   box-shadow:0px 0px 2px #444;
}

.testimonials  .testi p{
   font-size:13px;
   font-weight:600;
   font-style:italic;
   color:#777;
}

.testimonials .testi .testi-author{
   font-weight:400;
   font-style:normal;
}

/* Blog */

.blog .entry h2{
   font-size:30px;
   line-height:35px;
   color: #555;
   margin:0px;
}

.blog .entry h2 a, .blog .entry h2 a:visited{
   text-decoration:none;
   color:#555;
}

.blog .entry h2 a:hover{
   border:0px;
   color:#777;
}

.blog .meta{
   border-top:1px solid #f1f1f1;
   border-bottom:1px solid #f1f1f1;
   margin:14px 0px;
   padding:5px 8px;
   color:#777;
   text-transform:uppercase;
   font-size:11px;
}

.blog .meta a, .blog .meta a:visited{
   color:#555;
}

.blog .meta i{
   margin:0px 3px;
}

.blog .bthumb{
   margin:10px 0px 5px 0px;
   padding:1px;
   box-shadow:0px 0px 1px #777;
}

.blog .btn{
   font-size:12px;
}

.blog .entry{
   margin-bottom:25px;
   padding-bottom:15px;
   border-bottom:1px solid #eee;
   font-size: 13px;
   line-height: 27px;
}

.blog .entry p{
	margin: 0px 0px 4px 0px;
}

.blog .post-foot{
	border-left: 2px solid #eee;
	padding: 15px 15px;
}

.blog .post-foot .social{
	margin-top: 0px;
}

.sidebar{
   background:#fff;
   border:1px solid #e1e1e1;
   margin-top:10px;
   padding:10px 15px;
}

.sidebar h4{
   font-family:"Open Sans", sans-serif;
   font-size:13px;
   font-weight:bold;
   color:#777;
   line-height:18px;
   margin-bottom:5px;
   padding-bottom:10px;
   text-transform:uppercase;
   border-bottom:1px solid #eee;
}

.sidebar .widget{
   padding:4px;
   font-size: 13px;
   line-height: 23px;
   margin-bottom:7px;
}

.sidebar .widget form{
   margin:10px 0px;
}

.sidebar .widget .widget-search input{
   width:180px;
   font-size:12px;
}

.sidebar ul li{
	padding: 3px 0px;
}

/* Service */

.services h5{
   font-weight:bold;
   font-size:16px;
}

/* Comments */

.respond{
	padding-top: 10px;
}

.comments h5{
   font-size:16px;
   font-family:"Open Sans", sans-serif;
   font-weight:bold;
}

.comments > ul{
   margin:0px;
   padding:0px;
   list-style-type:none;
}

.comments > ul > li{
   background:none;
   padding:0px;
   margin:0px;
}

.comments{
	margin-bottom: 20px;
}

.comments .comment{
   margin:25px 0px;
}

.comment .avatar{
   margin-top:20px;
   margin-right:15px;
   max-width:70px;
   border-radius:100px;
}

.comment a{
   color:#555;
   font-weight:bold;
   border:0px !important;
}

.comment .cmeta{
   font-size:13px;
   color:#777;
   font-style:italic;
}

.comment p{
   margin-top:5px;
   font-size: 13px;
}

.comments .reply{
   margin-left:75px;
}

.respond{
   border:1px solid #eee;
   border-radius:10px;
   margin:20px 0px;
   padding:20px;
   background:#fff;
	border-top: 1px solid #eee;
}

.respond h5{
   font-family:"Open Sans", sans-serif;
   font-weight:bold;
   padding-bottom:10px;
   border-bottom:1px dashed #eee;
   margin-bottom:10px;
   font-size:16px;
}

/* Countdown */

.countdown{
	width:500px;
	margin:10px auto;
}

.countdown .hasCountdown {
	border: 0px solid #ccc !important;
	background-color:transparent !important;
}

.countdown_section {
	color: #777;
	padding: 10px;
	margin: 0px;
	text-transform: uppercase;
	background:#fcfcfc;
	border-radius:5px;
	border:1px solid #ddd;
}

.countdown_amount {
	display: inline-block;
	font-size: 40px;
	height: 50px;
	line-height: 50px;
	color: #888;
	margin: 0px;
}

/* Support */

.filter-area{
   background:#fff;
   padding:18px;
   border:1px solid #ddd;
   border-radius:10px;
   margin-bottom:10px;
}

.filter-area h4{
   font-family:"Open Sans", sans-serif;
   font-weight:bold;
   color:#777;
}

.filter-area input{
   padding:3px 7px !important;
   margin:10px 0px;
   border-radius:3px;
   box-shadow:0px;
   border:1px solid #ccc;
}

#slist{
   padding-left:15px;
}

#slist p{
   display:none;
   margin:5px 0px;
   padding:10px 10px;
   background:#fff;
   line-height: 25px;
   border:1px solid #eee;
}

#slist li a{
	display: block;
	font-size: 13px !important;
	margin-bottom: 10px;
   border:0px;
}

.scontact{
   background:#fff;
   padding:18px;
   border:1px solid #ddd;
   border-radius:10px;
}

.scontact h4{
   font-family:"Open Sans", sans-serif;
   font-weight:bold;
   color:#777;
}

.scontact p{
	margin-bottom: 7px;
}

/* Checkout */

.checkout h4{
   font-family:"Open Sans", sans-serif;
   font-weight:bold;
   font-size:16px;
   color:#777;
   margin-bottom:8px;
   padding-bottom:8px;
   border-bottom:1px solid #eee;
}

/* View Cart */

.view-cart img{
   max-height:50px;
}

.view-cart .input-group{
   max-width:120px;
}

/* FAQ */

.faq *{
   box-shadow:none !important;
}

.faq .panel-heading{
   padding:15px 10px;
}

.faq h4{
   font-family:"Open Sans", sans-serif;
   font-weight:600;
   font-size:13px;
}

.faq h4 a{
   color:#777;
   border:0px;
}

/* Careers */

.careers h5{
   font-size:16px;
   font-weight:600;
   margin-top:20px;
}


/* Coming soon */

.c-soon{
	margin: 90px 0px;
	padding: 40px;
	text-align: center;
   background:#fff;
   border-radius:10px;
   border:1px solid #ddd;
}

.soon-med{
   font-size:22px;
   line-height:30px;
}

.soon-big{
   font-size:70px;
   line-height:90px;
   font-family:"Open Sans Condensed", sans-serif;
}

.soon-small{
   font-size:14px;
   line-height:25px;
   max-width:600px;
   margin:10px auto;
}

/* Sitemap */

.sitemap h4{
   font-family:"Open Sans",sans-serif;
   font-weight:600;
   font-size:14px;
   border-bottom:1px dashed #eee;
   margin-bottom:10px;
   padding-bottom:10px;
}

.sitemap ul{
   padding-left:15px;
}

/* Components */

.components h5{
   font-weight:600;
}

/* Contact us */

.cwell{
	padding:20px;
	background: #fff;
	margin-top: 10px;
	border:1px solid #eee;
   border-radius:10px;
}

.cwell h5{
   border-bottom: 1px solid #eee;
   padding-bottom: 10px;
   font-size:17px;
   font-weight:600;
}

.cwell h6{
	font-size: 14px;
   font-weight:600;
}

.gmap iframe{
   width:100%;
   margin-bottom: 10px;
   padding-bottom:0px !important;
   border-bottom:1px solid #ccc;
}



/* Register & Login */

.reg-login-info h2{
   font-family:"Open Sans", sans-serif;
   font-size:22px;
   padding-bottom:12px;
   margin-bottom:12px;
   border-bottom:1px dotted #eee;
}

.reg-login-info img{
   margin-bottom:5px;
}

.register-login{
   max-width:480px;
   margin:30px auto;
}

.register-login h3{
   margin:0px;
   font-size:18px;
   line-height:25px;
   color:#888;
   margin-bottom:20px;
   padding-bottom:15px;
   border-bottom:1px solid #eee;
   font-weight:bold;
   font-family:"Open Sans",sans-serif;
}

/* Back to top */

.totop {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 104400;
	background: #16cbe6; 
}

.totop a, .totop a:visited{
	display: block;
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.totop a:hover {
	color: #eee;
	text-decoration: none;
}

/* Footer */

footer{
  /*  background:#333 url("../img/footer-back.png") repeat; */
  background:#353537;
   border-top:3px solid #ddd; 
   box-shadow:inset 0px 0px 3px #111;
   color:#ccc;
   font-size:14px;
   line-height:25px;
   padding:35px 0px 10px 0px;
}

footer a{
   color:#eee;
   text-decoration:none;
   border-bottom:1px dotted #888;
}

footer a:hover{
   color:#aaa;
   text-decoration:none;
   border:0px;
}

footer hr{
	border-bottom: 1px solid #464636;
	border-top: medium none;
	margin-bottom: 10px;
	margin-top: 10px;
}

footer .social{
   margin-top:10px;
}

footer .social a i{
   width:30px;
   height:30px;
   font-size:13px !important;
   line-height:30px;
   box-shadow:1px 1px 3px #000;
}

footer .fwidget{
   font-style:italic;
   margin-bottom:30px;
}

footer .fwidget h4{
   font-size:26px;
   color:#eee;
   font-style:normal;
}

footer .fwidget ul{
   margin-left:0px;
   padding-left:0px;
   list-style-type:none;
}

footer .fwidget ul li{
   margin-bottom:10px;
   width:50%; float:left;
}

footer  i.contact-icon{
   background:#0fa6bc;
   width:30px;
   height:30px;
   line-height:30px;
   text-align:center;
   display:inline-block;
   border-radius:100px;
   color:#fff;
   font-size:12px;
   margin-right:7px;
}

footer .address p{
   margin-bottom:6px;
}

footer .copy{
   font-size:13px;
   margin:15px 0px;
}

/* Responsive CSS */

/* Mobile phones */
@media (max-width: 480px){
   .carousel .carousel-caption{
      top:20px !important;
      bottom:0px !important;
   }
   .carousel .carousel-caption h2{
      font-size:13px !important;
   }
   .carousel .carousel-caption p{
      display:none;
      font-size:18px !important;
   } 
   .carousel .carousel-caption .btn{
      display:none;
   }
   .carousel .carousel-control span{
      display:inline-block;
      background:#111;
      border-radius:50px;
      height:50px;
      width:50px;
      line-height:45px;
      text-align:center;
   }     
	.countdown{
		width:250px !important;
	}
	
	.countdown_amount {
		font-size:20px !important;
	}
	
	.countdown_section{
		font-size:10px !important;
	}   
   .carousel-indicators{
      display:none;
   }
   
	.tp-caption a.btn {
		padding: 3px 5px !important;
		font-size: 9px !important;
		box-shadow:none;
	}	
}

/* Tablets */
@media (max-width: 767px){
   .container{
      width:100%;
   }
   .shop-items .item{
		max-height:100% !important;
		height:100% !important;
   }
   .carousel .carousel-caption{
      bottom:30px !important;
   }
   .carousel .carousel-caption h2{
      font-size:25px !important;
   }
   .carousel .carousel-caption p{
      font-size:18px !important;
      display:none;
   } 
   .carousel .carousel-control span{
      display:inline !important;
      background:transparent;
      border-radius:0px;
      height:0px;
      width:0px;
      line-height:0;
      text-align:right;
   }  
   .header{
      height:auto;
      padding:15px 0px;
   }  
   .header .logo{
      text-align:center;
      padding-bottom:10px;
   }
   .cta h5{
      line-height:30px;
      margin-bottom:15px;
   }
   .cta .cta-buttons{
      float:none !important;
   }
   .cta .btn{
      margin-bottom:0px !important;
      max-width:150px;
   }   
   .catchy .report-data{
      margin-bottom:15px;
      padding-bottom:15px;
      border-bottom:1px dashed #eee;
   }
	.countdown{
		width:350px;
	}
	
	.countdown_amount {
		font-size:30px;	
	}
	
	.tp-banner .img-tag {
		width: 32px;
		height: 18px;
		font-size: 9px !important;
		line-height: 18px !important;
	}
	
	.catchy .catchy-subscribe {
		max-width: 400px;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.catchy .report {
		max-width: 400px;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 15px;
	}
}

/* Desktop */

@media (max-width: 991px){
	.navi{
		display:none;
	}
	.navis, .sub-navis{
		width:60%;
		margin:18px auto;
	}
	.navis select { 
        display: inline-block; 
		width:100%;
   }
   	.sub-navis select { 
        display: inline-block; 
		width:100%;
   }
   
   
   .carousel .carousel-caption{
      bottom:20px;
   }
   .carousel .carousel-caption h2{
      font-size:40px;
   }
   .carousel .carousel-caption p{
      font-size:22px;
   }   
   .cta .btn{
      margin-bottom:10px;
   }
   .catchy .report{
      margin-top: 20px; 
   }
   .sidey{
      margin-top:50px;
   }
}


/*Custom Code for Home Page*/


/* Portolio Hover */
.da-thumbs li ,
.da-thumbs li  img {
	display: block;
	position: relative;
}
.da-thumbs li  {
	overflow: hidden;
}
.da-thumbs li  article {
	position: absolute;
	background-image:url(images/image_hover.png);
	background-repeat:repeat;
	width: 100%;
	height: 100%;
}
.da-thumbs li  article.da-animate {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background:#16CBE6;
}
/* Initial state classes: */
.da-slideFromTop {
	left: 0px;
	top: -100%;
}
.da-slideFromBottom {
	left: 0px;
	top: 100%;
}
.da-slideFromLeft {
	top: 0px; 
	left: -100%;
}
.da-slideFromRight {
	top: 0px;
	left: 100%;
}
/* Final state classes: */
.da-slideTop {
	top: 0px;
}
.da-slideLeft {
	left: 0px;
}

.da-thumbs {
text-align:center;
}

.da-thumbs li  article h3{
color:#fff;
padding-top:30px;
}

.da-thumbs li  article em{
margin-bottom:10px;
color:#fff;
display:block;
}

.da-thumbs li  article span{
display:inline-block;
}

span.link_post{
display:block;
width:35px;
height:35px;
background-color:#DF6232;
border-radius:50px;
cursor:pointer;
background-image:url(images/link_post_icon.png);
background-repeat:no-repeat;
background-position:center;
margin-right:10px;
}

span.zoom{
overflow:hidden;
display:block;
width:35px;
height:35px;
background-color:#DF6232;
border-radius:50px;
cursor:pointer;
background-image:url(images/zoom_icon.png);
background-repeat:no-repeat;
background-position:center;
margin-left:10px;
}

.portfolio_2col article h3{
padding-top:70px !important;
}

/* Image Grid */
.image_grid {
	float:left;
	overflow:hidden;
	width:700px;
	position:relative;

}

.image_grid li{
	float: left;
	line-height: 17px;
	color: #686f74;
	list-style:none;
	overflow:hidden;
	margin-bottom:23px;
	margin-right:23px;
	text-align:center;
}


/* Responsive image grid*/
/* Mobile landscape width 320 */
@media only screen and (max-width: 767px) {

.image_grid{
width:300px;
}

.image_grid li img{
width:220px;
}

.portfolio_4col .da-thumbs li article h3{
padding-top:70px;
}

.portfolio_3col .da-thumbs li article h3{
padding-top:50px;
}

.portfolio_2col .da-thumbs li article h3{
padding-top:53px !important;
}

}


 @media only screen and (min-width: 480px) and (max-width: 767px) {

.image_grid{
width:450px;
}

.image_grid li{
width:178px !important;
}

.portfolio_4col .da-thumbs li article h3{
padding-top:58px;
}

.portfolio_3col .da-thumbs li article h3{
padding-top:34px;
}

.portfolio_2col .da-thumbs li article h3{
padding-top:23px !important;
}

}


.pro-image img{display: block;
height: 175px;
margin: 0 auto;
padding: 5px 0;
width: auto;}


.navbar{margin-bottom:0px;}
.navbar-default{border:none; background:#0FA6BC;} 
.navi-cat{padding:0px;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #ffffff;
  text-decoration:underline;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.sellername {
  background: none repeat scroll 0 0 #16cbe6;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin: 7px 5px;
  text-align: center;
  width: 146px;
}

.sellername i{font-family: FontAwesome !important;}
.metro .tile:hover{outline:none !important;}
article .pull-right .btn{margin-right:10px; color:#ffffff;}
article .pull-right .btn:hover{margin-right:10px; color:#ffffff;}

.product-search{padding:0px;}
.product-search input[type="text"] {
  border-color: #999; border:none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #ccc inset;
  color: #777;
  font-size: 16px;
  font-weight: 700;
  opacity: 0.9;
  padding: 12px 45px 13px 15px;
  transition: opacity 0.2s ease 0s;
  width: 357px;
}

.btn-submit {
  border-radius: 5px;
  box-shadow: none;
  font-weight: 900;
  margin: 0 0 0 5px;
  padding: 14px 19px;
  text-transform: none;
  word-spacing: 2px;
}







.btn-standard-lrg {
  background: url("//d2nt7j7ljjsiah.cloudfront.net/assets/v2_buttons/btn-progress-ddd-d675886ce9fbb70af05daba8e7c37a54.gif") no-repeat scroll -2000px -2000px #00b22d;
  border: 1px solid #028a25;
  color: #fff;
  display: inline-block;
  transition: color 0.2s ease 0s, background-color 0.2s ease 0s, box-shadow 0.2s ease 0s, border 0.2s ease 0s;
}


.main-category-search .wrap-search {
  height: 46px;
}


.main-category-search .btn-submit {
  float: right;
}



.main-category-search .wrap-search input[type="text"] {
  border-color: #999;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #ccc inset;
  color: #777;
  font-size: 16px;
  font-weight: 700;
  opacity: 0.9;
  padding: 16px 45px 13px 15px;
  transition: opacity 0.2s ease 0s;
  width: 352px; float:left;
  border:none;
}


.main-category-search .wrap-search input.magnify[type="image"] {
  top: 22px;
}

.main-category-search .wrap-search input[type="image"] {
  position: absolute;
  right: 160px;
  z-index: 1;
}




.main-category-search {
  background: url("../img/trans-bg.png") repeat scroll left top transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0px auto 0;
  width: 510px;
}

.main-category-search > .inner {
  height: 58px;
  padding: 3px 4px;
}



.main-category-search .btn-submit {
  border-radius: 5px;
  box-shadow: none;
  font-weight: 900;
  margin: 0 0 0 5px;
  padding: 14px 19px;
  text-transform: none;
  word-spacing: 2px;
  font-size:15px;
  
} 

.carousel ul.da-thumbs{margin-top:40px;}
.metro .carousel{background:none !important;}
.metro ul, .metro ol{padding:0px !important; margin:40px 0px 0px 0px !important;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background:#0fa6bc;}
.close-btn{position:absolute; right:10px; cursor:pointer;}
.citymenu li{list-style:none;}
.citymenu a{padding-left:0px; padding-right:0px;}

.citymenu .navbar-nav > li > a {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar{border-radius:0px;}


a.loadmore {
box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.3) inset, 0 2px 3px rgba(0, 0, 0, 0.3);
color: #ffffff !important;
font-size: 19px !important;
font-weight: bold;
padding: 14px 25px;
text-shadow: 0 1px 1px #000;
}

.login-title{margin-top:60px;}

/*------Details page-------*/

.detail-page-sty{
	background:#fff;
	border-radius: 10px 10px 0 0;
	padding:15px;
	box-shadow: 0 0 5px #d5d6d7;
}

.bor-sty{
	border-right:1px solid #d1d1d1;
}

.ad-sty{
	width: 100%;
	height:90px;
}

.ad-sty2 {
    border-radius: 25px;
    padding: 20px 10px;
    width: 100%;
}

.map-sty{
	width: 100%;
	padding: 10px 0px;
}

.module.escapes.nearby {
    border-radius: 0;
    margin: 0 -20px 20px;
}

.module.escapes.nearby .bd {
    padding: 0;
}

.module.escapes.nearby ul.nearby-escapes {
    padding: 20px 0 0 0px;
}

.module.escapes.nearby ul.nearby-escapes li {
    margin-right: 16px;
    width: 300px;
}
.module.escapes ul li {
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
    vertical-align: baseline;
}

.module.escapes a {
    text-decoration: none;
}

.module.escapes ul li .info {
    background-color: #373738;
    border-radius: 0 0 7px 7px;
    padding: 10px 15px;
}

.module.escapes.nearby ul.nearby-escapes li img {
    width: 300px;
}
.module.escapes ul li img {
    border-radius: 7px 7px 0 0;
    display: block;
    height: 91px;
}
.module.escapes .bd ul li h2 {
    background-image: none;
    color: #fff;
    font-family: helvetica;
    font-size: 12px;
    height: auto;
    margin: 0;
    padding-right: 25px;
    text-indent: 0;
    text-transform: capitalize;
    width: auto;
}
.module.escapes .bd ul li:hover .info {
    background: url("../img/escapes-arrow.png") no-repeat scroll right center #508395;
    cursor: pointer;
}
.module.escapes .bd ul li:hover .info h2 {
    color: #fff;
}

.most-popular-deals ul li {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 4px;
    display: block;
    margin: 0;
    min-height: 120px;
    padding: 12px 55px 0 98px;
    position: relative;
    vertical-align: top;
    width: auto;
}
.most-popular-deals ul a {
    font-weight: bold;
}

.most-popular-deals ul a span.img {
    background-size: 100% 100%;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 1, 1, 0.15);
    display: inline-block;
    height: 100px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 10px;
    vertical-align: baseline;
    width: 86px;
}

.most-popular-deals ul a h3 {
    color: #0088cc;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 0 4px;
    padding: 0;
    vertical-align: top;
}

.most-popular-deals ul a span.price {
    color: #f0812b;
    font-family: "ProximaNovaSoftBold","arial rounded mt bold",helvetica,arial,sans-serif;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    right: 0;
    top: 12px;
}
.most-popular-deals ul a span.price sup {
    font-size: 18px;
    position: static;
}
.most-popular-deals > h2 {
    line-height: 26px;
	border-bottom:1px dashed #ccc;
	padding-bottom:10px;
}

.most-popular-deals ul {
    margin: 0;
    padding: 5px 0 0;
}

#deal_box.ls-deal_buy_box {
    text-align: right;
}

#deal_box li.ls-original_price sup {
    font-size: 42px;
    top: -23px;
}

#deal_box li .ls-original_price {
    color: #f0812b;
    font-size: 70px;
    line-height: 60px;
	font-weight: bold;
}
#deal_box .ls-price_info li {
    margin: 0;
}
#deal_box .ls-deal_buy_box li {
    display: inline-block;
    vertical-align: middle;
}

.ls-me_plus_three {
    margin: 20px 0 0;
}
.ls-deal_stats {
    border-top: 1px solid #d1d1d1;
    font-size: 0;
}

.ls-deal_stats li:first-child {
    border-color: #fff;
}
.ls-deal_stats li {
	border-left: 1px solid #d1d1d1;
    display: inline-block;
    font-size: 13px;
    padding: 0 5px;
    text-align: center;
    vertical-align: top;
    width: 109px;
}

.ls-deal_stats li label {
    color: #909090;
    font-size: 13px;
    margin:0;
}

.txt-count{
	font-size:24px;
	font-weight:bold;
	padding-top: 7px;
}

.buy-now-btn{
	background: url("../img/buy-now-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 70px;
    width: 250px;
	margin-left: 20px;
}

.buy-now-btn a:hover{
	text-decoration:none;
	color:#fff;
	border:none;
}

.buy-now-txt{
	color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 70px;
    padding: 0 35px;
    text-align: center;
	font-family:arial;
}

.see-more-back{
	background:#f1f1f1;
	border: 1px solid #cecece;
    border-radius: 4px;
    margin-top: 15px;
    padding: 15px 0 10px;
    position: relative;
    width: 100%;
	margin-bottom: 15px;
}

.google-ads-sty {
    background: url("../img/ls-item-header-bg-8a956f15cb15ff10619150a429eed1a3.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 15px;
    width: 100%;
	margin-top: 20px;
}

.space-mar{
	margin-top:0px;
}

.profile-box{
	background: url("../img/profile-bg.jpg") repeat-x;
	height: 147px;
	width: 100%;
	margin-top: 45px;
}

.profile-pic-sty {
    float: left;
    margin: -56px 0 0 -34px;
	padding-right:25px;
}

.name-txt {
    font-size: 34px;
    font-weight: bold;
    padding: 15px 30px;
}

.edit-profile-btn{
	background:#9fa4a4;
	border:1px solid #787f7f;
	padding:3px 25px;
}

.edit-profile-btn:hover{
	background:#328194;
	border:1px solid #787f7f;
	padding:3px 25px;
}

.see-all-btn{
	background:#518b59;
	border:1px solid #37653e;
	padding:3px 25px;
}

.see-all-btn:hover{
	background:#328194;
	border:1px solid #787f7f;
	padding:3px 25px;
}

.first-box {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
	border-radius: 10px;
	margin-top:15px;
	overflow:hidden;
}

.wishlist-sty {
    border-radius: 50%;
    height: 80px;
    margin: 10px;
    width: 80px;
	float:left;
}

.wish-txt {
    font-size: 18px;
    font-weight: bold;
    padding: 2px 10px 2px 0;
}

  
/*----------------------------------------------------------------------------------- */
/*  Progress Bars */
/*----------------------------------------------------------------------------------- */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {

#cd-timeline {
  margin-top: 3em;
  margin-bottom: 3em;
}

#cd-timeline::before {
  left: 50%;
  /* margin-left: -2px; */
}
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
 *zoom: 1;
}

.cd-timeline-block:before,
.cd-timeline-block:after {
  content: " ";
  display: table;
}

.cd-timeline-block:after { clear: both; }

.cd-timeline-block:first-child { margin-top: 0; }

.cd-timeline-block:last-child { margin-bottom: 0; }
@media only screen and (min-width: 1170px) {

.cd-timeline-block { margin: 4em 0; }

.cd-timeline-block:first-child { margin-top: 0; }

.cd-timeline-block:last-child { margin-bottom: 0; }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.cd-timeline-img.cd-picture { background: #75ce66; }

.cd-timeline-img.cd-movie { background: #c03b44; }

.cd-timeline-img.cd-location { background: #f0ca45; }
@media only screen and (min-width: 1170px) {

.cd-timeline-img {
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -17px;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.cssanimations .cd-timeline-img.is-hidden { visibility: hidden; }

.cssanimations .cd-timeline-img.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-1 0.6s;
  -moz-animation: cd-bounce-1 0.6s;
  animation: cd-bounce-1 0.6s;
}
}
 @-webkit-keyframes 
cd-bounce-1 {  0% {
 opacity: 0;
 -webkit-transform: scale(0.5);
}
 60% {
 opacity: 1;
 -webkit-transform: scale(1.2);
}
 100% {
 -webkit-transform: scale(1);
}
}
@-moz-keyframes 
cd-bounce-1 {  0% {
 opacity: 0;
 -moz-transform: scale(0.5);
}
 60% {
 opacity: 1;
 -moz-transform: scale(1.2);
}
 100% {
 -moz-transform: scale(1);
}
}
@-o-keyframes 
cd-bounce-1 {  0% {
 opacity: 0;
 -o-transform: scale(0.5);
}
 60% {
 opacity: 1;
 -o-transform: scale(1.2);
}
 100% {
 -o-transform: scale(1);
}
}
@keyframes 
cd-bounce-1 {  0% {
 opacity: 0;
 transform: scale(0.5);
}
 60% {
 opacity: 1;
 transform: scale(1.2);
}
 100% {
 transform: scale(1);
}
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
 *zoom: 1;
}

.cd-timeline-content:before,
.cd-timeline-content:after {
  content: " ";
  display: table;
}

.cd-timeline-content:after { clear: both; }

.cd-timeline-content h2 { color: #303e49; }

.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}

.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date { display: inline-block; }

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

.no-touch .cd-timeline-content .cd-read-more:hover { background-color: #bac4cb; }

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {

.cd-timeline-content h2 {
  font-size: 20px;
  font-size: 1.25rem;
}

.cd-timeline-content p {
  font-size: 16px;
  font-size: 1rem;
}

.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  font-size: 14px;
  font-size: 0.875rem;
}
}
@media only screen and (min-width: 1170px) {

.cd-timeline-content {
  margin-left: 0;
  padding: 1.6em;
  width: 45%;
}

.cd-timeline-content::before {
  top: 24px;
  left: 100%;
  border-color: transparent;
  border-left-color: white;
}

.cd-timeline-content .cd-read-more { float: left; }

.cd-timeline-content .cd-date {
  position: absolute;
  width: 100%;
  left: 130%;
  top: -6px;
  font-size: 14px;
}

.cd-timeline-block:nth-child(even) .cd-timeline-content { float: right; }

.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
  top: 24px;
  left: auto;
  right: 100%;
  border-color: transparent;
  border-right-color: white;
}

.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more { float: right; }

.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
  left: auto;
  right: 122%;
  text-align: right;
}

.cssanimations .cd-timeline-content.is-hidden { visibility: hidden; }

.cssanimations .cd-timeline-content.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-2 0.6s;
  -moz-animation: cd-bounce-2 0.6s;
  animation: cd-bounce-2 0.6s;
}
}
 @media only screen and (min-width: 1170px) {

/* inverse bounce effect on even content blocks */

.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
  -webkit-animation: cd-bounce-2-inverse 0.6s;
  -moz-animation: cd-bounce-2-inverse 0.6s;
  animation: cd-bounce-2-inverse 0.6s;
}
}
@-webkit-keyframes 
cd-bounce-2 {  0% {
 opacity: 0;
 -webkit-transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(20px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
@-moz-keyframes 
cd-bounce-2 {  0% {
 opacity: 0;
 -moz-transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -moz-transform: translateX(20px);
}
 100% {
 -moz-transform: translateX(0);
}
}
@-o-keyframes 
cd-bounce-2 {  0% {
 opacity: 0;
 -o-transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -o-transform: translateX(20px);
}
 100% {
 -o-transform: translateX(0);
}
}
@keyframes 
cd-bounce-2 {  0% {
 opacity: 0;
 transform: translateX(-100px);
}
 60% {
 opacity: 1;
 transform: translateX(20px);
}
 100% {
 transform: translateX(0);
}
}
@-webkit-keyframes 
cd-bounce-2-inverse {  0% {
 opacity: 0;
 -webkit-transform: translateX(100px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(-20px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
@-moz-keyframes 
cd-bounce-2-inverse {  0% {
 opacity: 0;
 -moz-transform: translateX(100px);
}
 60% {
 opacity: 1;
 -moz-transform: translateX(-20px);
}
 100% {
 -moz-transform: translateX(0);
}
}
@-o-keyframes 
cd-bounce-2-inverse {  0% {
 opacity: 0;
 -o-transform: translateX(100px);
}
 60% {
 opacity: 1;
 -o-transform: translateX(-20px);
}
 100% {
 -o-transform: translateX(0);
}
}
@keyframes 
cd-bounce-2-inverse {  0% {
 opacity: 0;
 transform: translateX(100px);
}
 60% {
 opacity: 1;
 transform: translateX(-20px);
}
 100% {
 transform: translateX(0);
}
}

.cd-container i {
	color:#fff;
	font-size:20px;
	padding:10px;
}

.pro-txt{
	font-size: 18px;
	text-align: left;
}

.first-box h2{
	font-size:16px;
}

.edit-form {
	background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    width: 100%;
}

.label-txt{
	font-size:14px;
	font-weight:normal;
}

.form-sty {
    min-height:350px;
    padding: 20px 0;
}

.text-align{ text-align:left !important;}

.acc-pra-txt {
    font-size: 14px;
    padding: 0px 20px 15px 20px !important;
    text-align: justify;
}

.head-term-con{
	font-size:18px;
	padding:20px 0 10px 20px !important;
	font-weight:bold;
}

.map-sty2{
	padding:20px;
	padding:20px;
}

.txt-part-acc {
    padding: 20px !important;
}

.add-on {
    padding-left: 20px !important;
}

.input-bg {
    border: 1px solid #ccc !important;
	padding-left:10px !important;
}

.input-bg2 {
    border: 1px solid #ccc !important;
	padding-left:10px !important;
	margin-bottom:15px !important;
}

.input-bg3 {
    border: 1px solid #ccc !important;
	padding-left:10px !important;
	margin:20px 0px 0px 20px !important;
}

.txt-part-acc label{
	font-size:14px !important;
}

.price-txt{
	padding-bottom:15px !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu > ul {
    list-style: none outside none;
}

.datepicker{
	min-width:200px; 
	min-height:160px; 
	line-height:16px;
}

.upload-txt {
    color: #fff;
    font-size: 14px;
    padding: 7px 20px !important;
	margin:20px 15px 0px 20px !important;
}

