
.services{}
.services article{display:inline; float:left; width:300px; margin:0 30px 0 0; padding:0;}
.services .last{margin-right:0;}
.services figure{display:inline; float:left;}
.services strong{float:left; margin:8px 0 0 10px; padding:0; font-size:14px; font-weight:bold; text-transform:uppercase;}
.services p{display:block; margin:0; padding:5px 0 0 0; clear:both; line-height:1.6em;}
.services .spacer{clear:both; padding:8px 0; line-height:normal;}