
#container #slides{position:relative; display:block; width:960px; height:380px; margin:0 0 50px 0; padding:0;}
#slides #controls{position:absolute; top:0; left:0; width:940px; height:360px; padding:10px;}

#slides #frame{position:absolute; top:0; left:0;}
#slides .next, #slides .prev{position:absolute; display:block; top:145px; left:10px; width:24px; height:90px; background:none; z-index:101;}
#slides .next{left:926px;}

#slides .sliderpagination{position:absolute; display:block; top:346px; left:390px; width:180px; height:16px; margin:0; padding:8px 0 0 0; background:url("../images/slider/sliderpagination_bg.png"); text-align:center; z-index:101;}
#slides .sliderpagination li{display:inline;}
#slides .sliderpagination li a{display:inline-block; width:16px; height:0; margin:0 5px; padding:16px 0 0 0; background:url("../images/slider/sliderpagination.png") 0 0; overflow:hidden;}
#slides .sliderpagination li a:hover, #slides .sliderpagination li.current a{background-position:0 -16px;}

#slides .caption{position:absolute; top:80px; left:80px; width:360px; height:150px; padding:15px; color:#FFFFFF; background:#000000;}
#slides .caption{filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity:0.7; opacity:0.7;}