<ul id="showDealsListDiv" style="position: relative; height: 768px;" class="showPurchaseListDiv">
    <div id="singleShowDealDiv" class="container-fluid singlePurchaseListDiv" style="display: none">
        <li class="" style="display: inline-table; margin: 10px;" id="postList">

            <div class="blog-sidebar" style>
                <div class="side-widget br-yellow" id="deal_{{id}}" style="width: 170px;float: left;">
                    <h4>{{title}}{{id}}</h4>

                    <div class="widget-content" style="padding: 20px;">
                        <img src="{{imageURL}}" style="height: 120px;width: 123px"
                             alt=""/>&nbsp;&nbsp;
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        </li>
    </div>
</ul>

<script type="text/javascript">
    $(document).ready(function(){
        getAllPurchasePosts('${createLink(controller:'deal',action:'getPurchaseDealList')}');
    });

    function getAllPurchasePosts(formPostUrl) {
        var template = $('.singlePurchaseListDiv').html();
            $('.singlePurchaseListDiv').empty();
        $.getJSON(formPostUrl, function (data) {
//            alert('data'+data.length);
            if(data.length > 0 ){
//                alert("have data");
                $.each(data, function (idx, obj) {
                var output = Mustache.render(template, obj);
                console.log(obj.id);
                //console.log(obj.imageUrlList);
                $('.showPurchaseListDiv').prepend(output);
            });
            }
            else{
//                var output = Mustache.render(template, data);
                console.log(data.imageURL);
//                alert("no data");
                $('.showPurchaseListDiv').append("<p>Sorry no any Purchase Post is avail Please <span ><a onclick='getBack()' class='btn btn-warning'> Go Back</a></span></p>");
            }
        });

    }
    function getBack(){
        //alert('');

                    $(".landingPageForms").hide();
                    $("#dealsDisplay").show();
    }
    function getCurrentPurchasePosts(formPostUrl) {
        var template = $('.singlePurchaseListDiv').html();
        //$('.singlePurchaseListDiv').empty();
        $.getJSON(formPostUrl, function (data) {

            //$.each(data, function (idx, obj) {
                var output = Mustache.render(template, obj);
                console.log(data.id);
                //console.log(obj.imageUrlList);
                $('.showPurchaseListDiv').prepend(output);
            //});
        });
    }

</script>